.photos img{
      width: 200px;
      height: 200px; 
      border: 5px solid #aaa;
}
.photos img:hover{
cursor :pointer;
      border: 5px solid #087;
}
.main img{
      width: 840px;
      height: 840px; 
      border: 5px solid #aaa;
}